target/
.classpath
.project
.settings/
gen/
bin/
local.properties
.metadata/
*.class
*.apk
*.res
*.dex
*.iml
ButtercupMobile/out
.idea
.gradle/
ButtercupMobile/obj
.gradle
local.properties
.DS_Store
build/
*.iml
.idea/
*.swp
com_crashlytics_export_strings.xml
crashlytics-build.properties
ajcore.*
.navgation/